<h1>Add a new stage</h1>

<form action='/stages' method="post">
  <div class="form-group">
    <label for="stage_name"> Stage name</label>
    <input id="n" name="stage_name" class="form-control" ype="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>